body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF;
}
.delUserBody {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error {
    box-sizing: border-box;
    width: 100%;
    background-color: #FE5F55;
    text-align: center;
    font-size: larger;
    color: #F7F7FF;
}
.formDel {
    background-color: #023E8A;
    margin-top: 15px;
}
fieldset {
    border-style: none;
}
