body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}
.loginBody {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login {
    height: fit-content;
    margin-top: 15px;
    padding: 10px;
    width: fit-content;
    background-color: #023E8A;
    border-top: 60px;
}
.fieldSet {
    border-style: none;
}
.loginItem {
    border-style: none;
    margin-top: 15px;
    height: 20px;
}
.loginButton {
    margin-top: 30px;
}
.createAccount {
    margin-top: 30px;
    color: #fff;
    float: right;
}
.error {
    box-sizing: border-box;
    width: 100%;
    background-color: #FE5F55;
    text-align: center;
    font-size: larger;
    color: #F7F7FF;
}
header {
    background-color: #023E8A;
    width: 100vw;
    padding: 15px 0px 0px 15px;
}
.logo {
    height: 15vh;
    font-size: 50px;
    color: #FFF;
    margin: 0px;
}
.msg {
    color: #F7F7FF;
}
.input {
    width: 100%
}