.risked {
    text-decoration: line-through;
    background-color: #E63946;
}
body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mainBody {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #023E8A;
    padding: 15px;
    color: #FFF;
}
.newTask {
    text-align: center;
    background-color: #0077B6;
    padding: 15px 0px;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    overflow-wrap: break-word;
    word-break:break-all;
    padding: 0px;
}
.taskItem {
    margin-bottom: 10px;
    left: -30px;
    width: 90%;
    text-align: center;
    background-color: #E9C46A;
    border-radius: 6px;
    padding: 4px;
}
fieldset {
    border-style: none;
    color: #FFF;
    text-align: left;
}
a {
    color: #FFF;
}