<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opções da conta</title>
    <link href="/style/accountOptions.css" rel="stylesheet">
</head>
<body>
    <span>
        <div class="formBody">
            <% if(error) { %>
                <%- include("includes/error", {error: error}); %>
            <% }; %>
            <form method="POST" action="/updateInfo" class="inforUpdate">
                <fieldset>
                    <legend>Informações da conta:</legend>
                    <label>Nome de usuário:
                        <input type="text" name="username" class="username info" value="<%- username %>" disabled>
                    </label>
                    <label>Nome:
                        <input type="text" name="name" class="name info" value="<%- name %>" disabled>
                    </label>
                    <label>email:
                        <input type="text" name="email" class="email info" value="<%- email %>" disabled>
                    </label>
                    <input type="button" value="Editar" class="editar" onclick="enableEdit()">
                </fieldset>
            </form>
            <form method="POST" action="/updatePassword" class="passUpdate">
                <fieldset>
                    <legend>Alterar senha:</legend>
                    <label>Senha atual:
                        <input type="password" name="currPassword" class="currPassword" placeholder="Digite sua senha atual">
                    </label>
                    <label>Nova Senha:
                        <input type="password" name="newPassword" class="newPassword" placeholder="Digite uma nova senha">
                    </label>
                    <label>Repita a nova senha:
                        <input type="password" name="confNewPassword" class="confNewPassword" placeholder="Confirme a nova senha">
                    </label>
                    <input type="submit" value="Alterar senha">
                </fieldset>
            </form>
            <form method="GET" action="/deleteUser">
                <fieldset>
                    <legend>Apagar Conta:</legend>
                    <input type="submit" value="Apagar conta">
                </fieldset>
            </form>
                <p><a href="/main">Voltar</a></p>
            <script src="../../script/accountOptionsJS.js"></script>
        </div>
    </span>
</body>
</html>