<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apagar usuário</title>
</head>
<body>
    <form action="/deleteUser" method="POST">
        <fieldset>
            <legend>Apagar usuário</legend>
            <label>
                Está certo disso?<br />
                Digite sua senha abaixo para confirmar:<br />
                <input type="password" name="password" placeholder="Senha">
                <input type="submit" value="Confirmar">
            </label>
        </fieldset>
    </form>
</body>
</html>